* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

li {
  list-style: none; }

body,
html,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-size: 0.32rem; }

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.38rem; }
  .header p i {
    padding-left: 0.1rem;
    font-size: 0.24rem; }
  .header form {
    width: 70%;
    height: 0.6rem;
    background: #EFF2F6;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header form input {
      outline: none;
      border: 0;
      background: #EFF2F6; }
      .header form input::-webkit-input-placeholder {
        color: #C8CED7; }
    .header form i {
      color: #C8CED7;
      padding-right: 0.1rem; }

section {
  width: 100%;
  flex: 1;
  overflow-y: scroll; }

.list {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.02rem solid #E9E9E9;
  padding: 0 0.1rem; }
  .list li {
    flex: 1;
    text-align: center;
    font-size: 0.26rem;
    position: relative; }
    .list li::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0.1rem solid transparent;
      border-top-color: #333;
      top: 74%;
      transform: translateY(-50%); }

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 0.3rem; }

.main {
  width: 100%;
  border-bottom: 0.01rem solid #E6E6E6; }
  .main dl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main dl dt {
      width: 30%; }
      .main dl dt img {
        width: 100%; }
    .main dl dd {
      flex: 1;
      padding-left: 0.1rem;
      border-bottom: 0.01rem solid #E6E6E6; }
      .main dl dd h4 {
        color: #252825;
        font-weight: normal; }
      .main dl dd .tit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.6rem; }
        .main dl dd .tit p {
          color: #999999; }
        .main dl dd .tit span {
          display: inline-block;
          color: #FF5B35;
          border: 0.01rem solid #FF5B35;
          border-radius: 0.1rem;
          padding: 0 0.1rem;
          font-size: 0.26rem; }
      .main dl dd p {
        color: #F56539; }
        .main dl dd p span {
          font-size: 0.38rem; }
      .main dl dd .last {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.01rem solid #E6E6E6;
        margin-top: 0.1rem;
        padding: 0.2rem; }
        .main dl dd .last strong {
          background: #FFA34D;
          color: #fff; }
        .main dl dd .last p {
          color: #757F8A; }
        .main dl dd .last span {
          color: #F56539; }

/*# sourceMappingURL=style.css.map */
